secrets.yaml
home-assistant.log*
home-assistant_v2.db.bak
home-assistant_v2.db
.uuid
telegraf.conf
google_calendars.yaml
.google.token
.google_fit.token
.Google Fit_google_fit.token
traccar.xml

node-red/flows_cred.json
node-red/.flows_cred.json.backup
node-red/.sessions.json

.cloud/
.storage/
.androidkeys/
deps/
node-red/
resources/
__pycache__/
tts/

.vscode
.shopping_list.json
configurations/packages/loans.yaml
shell_scripts/shell_secrets.txt
rest_json/
www/rest/
frigate.yml
google-tts-key.json
